* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(104, 97, 75);
  background-image: url(bgImg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
main {
  padding: 20px;
  margin: 20px;
  font-size: 16px;
  font-weight: bolder;
}
h1 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: rgb(179, 121, 67);
}

form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 5px 10px 28px rgb(107, 99, 74);
}
div {
  padding: 3px;
  margin: 3px;
}
button {
  cursor: pointer;
  width: 90%;
  padding: 7px;
  margin: 10px;
  font-weight: bold;
  border-radius: 4px;
  background-color: rgb(223, 152, 85);
  border: 2px solid rgba(223, 152, 85, 0.575);
  box-shadow: 5px 10px 28px rgb(107, 99, 74);
  color: rgb(236, 212, 130);
}
button:hover {
  background-color: rgba(223, 152, 85, 0.445);
  color: rgb(128, 84, 43);
  box-shadow: none;
}
.input-error {
  border: 2px solid rgb(189, 47, 47);
}
.error-message {
  color: rgb(189, 47, 47);
  font-size: 12px;
  margin-top: 5px;
}
label {
  padding: 2px;
}
#user_role,
#user_name,
#user_email,
#user_password,
#user_confirm_password {
  border: 2px solid rgba(223, 152, 85, 0.438);
  border-radius: 4px;
  padding: 5px;
  width: 90%;
  background-color: rgba(241, 230, 194, 0.692);
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  main {
    width: 95%;
  }

  h1 {
    font-size: 22px;
  }

  input,
  select {
    font-size: 0.9rem;
    padding: 8px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 600px;
  }
}